.title {
    text-align: center;
    margin: 0 auto;
    font-size: 28px;
    font-family: "Montserrat-Bold";
    color: #0f265c;
    font-weight: bold;
}
.subtitle {
    text-align: center;
    font-size: 18px;
    margin: 0;
    color: #1b2d54;
    font-family: "OpenSans-Regular";
    max-width: 380px;
}
.container-button {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
button {
    background-color: #0f265c;
    color: #fff;
    height: 48px;
    width: 200px;
    border: none;
    border: 1px solid #0f265c;
    border-radius: 16px;
    font-family: "Montserrat-Bold";
    font-size: 16px;
    cursor: pointer;
    margin-top:  30px;
}

.container-data {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    > .form {
        display: block;
        padding: 20px;
        border: 1px solid #e0e0e0;
        background-color: #fff;
        border-radius: 0 0 40px 0;
        width: auto;
        height: auto;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        > .body {
            width: 90%;
            max-width: 350px;
            margin: 0 auto;
            > .form-group {
                display: flex;
                margin-bottom: 16px;
            }
        }
        > .form-group {
            label {
                display: block;
                margin: 12px 0 12px 0;
                color: #7c7c7c;
                font-family: "OpenSans-Regular";
                font-size: 16px;
            }
            .select {
                width: 100%;
                border: 1px solid #e0e0e0;
                border-radius: 0.25em;
                padding: 0.25em 0.5em;
                font-size: 1.25rem;
                cursor: pointer;
                line-height: 1.1;
                background-color: #fff;
                font-size: 16px;

            }
        }
    }
}
