:host {
    height: 100%;
}

.container-home {
    height: 100%;
    padding-top: 65px;
    .title {
        text-align: center;
        font-size: 26px;
        color: #fff;
    }
}
.container-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    position: absolute;
    top: 50%;
    left: 23%;

    button {
        background: transparent;
        border: none;
        height: 48px;
        width: 230px;
        color: #fff;
        font-size: 24px;
        font-family: "Montserrat-Bold";
        cursor: pointer;
        border: 1px solid #fff;
        border-radius: 16px;
        &:hover {
            -webkit-box-shadow: 0px 0px 20px 5px rgba(186, 186, 186, 0.35);
            box-shadow: 0px 0px 20px 5px rgba(186, 186, 186, 0.35);
        }
    }
}
