<div class="container-data">
  <div class="form" id="formSimulate" *ngIf="viewFormSimulate">
    <div class="title">
      Simula tu CDT
    </div>
    <div class="subtitle">
      Desde $ 1.000.000 a $ 10.000.000
      con un plazo de 90 hasta 360 días
    </div>
    <div class="body">
      <div class="form-group">
        <app-input-text [isValid]="isValid" [maxLength]="13" [title]="'Ingresa el valor a invertir'"
          [errorText]="'El monto parece no estar bien'" [maskType]="maskTypeMoney"
          [control]="formSimulation.controls.mountLending" [controlName]="'mountLending'" [formGroup]="dataSimulation"
          [placeHolderText]="'$ 500.000'"(input)="validateMountLending($event)">
        </app-input-text>
      </div>
      <div class="form-group">
        <app-input-range [isValid]="isValid" [title]="'Días de la inversión'" [control]="formSimulation.controls.days"
          [controlName]="'days'" [formGroup]="dataSimulation" [minValue]="90" [maxValue]="360" [stepValue]="90"
          (selectedEvent)="selectDays($event)" [initValue]="90"></app-input-range>
      </div>
      <div class="form-group">
        <div class="box-rendimiento">
          <div class="valueDays">
            {{valueDays}}
          </div>
          <div class="container-button">
            <button (click)="calculateInvestmentCdt()" class="btn" id="btnCalculate" *ngIf="dataSimulation.valid && (validateMount === true)">
              Calcular Rendimiento
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="form" id="formDataPersonal" *ngIf="viewFormDataPersonal">
    <div class="title">
      Información Básica
    </div>
    <div class="form-group">
      <app-input-text [isValid]="isValid" [maxLength]="30" [title]="'Ingresa tus nombres'"
        [control]="formDataPersonal.controls.nameUser" [controlName]="'nameUser'" [formGroup]="dataBasicPersonal"
        [placeHolderText]="'Ivan Camilo'" [maskType]="maskTypeName" >
      </app-input-text>
    </div>
    <div class="form-group">
      <app-input-text [isValid]="isValid" [maxLength]="30" [title]="'Ingresa tus apellido'"
        [control]="formDataPersonal.controls.lastNameUser" [controlName]="'lastNameUser'"
        [formGroup]="dataBasicPersonal" [placeHolderText]="'Hernandez Leon'" [maskType]="maskTypeName" > 
      </app-input-text >
    </div>
    <div class="form-group">
      <app-input-text [isValid]="isValid" [maxLength]="10" [title]="'Ingresa tu número de identidad'"
        [control]="formDataPersonal.controls.document" [controlName]="'document'" [formGroup]="dataBasicPersonal"
        [placeHolderText]="'1026595311'" [maskType]="maskTypeNumber">
      </app-input-text>
    </div>
    <div class="container-button" *ngIf="formDataPersonal.valid">
      <button (click)="viewDateAssign()">Siguiente</button>
    </div>
  </div>

  <form class="container-assign" *ngIf="viewFormDate" [formGroup]="dataDate">
    <div class="title">Asignación de cita</div>
    <div class="form-group">
      <label for="date-appointment">Escoge una fecha para tu cita</label>
      <input type="date" class="date" id="date-appointment" formControlName="date">
    </div>
    <div class="form-group">
      <label for="select-asesor">Selecciona un asesor con el que desees la cita</label>
      <div class="select">
        <select id="select-asesor" formControlName="nameAssesor">
          <option value="" selected>Seleccione...</option>
          <option value="{{item.name}}" id="{{item.cedula}}" *ngFor="let item of dataAsesor; trackBy: 'name' | trackBy">
            {{item.name}}
          </option>
        </select>
      </div>
    </div>
    <div class="container-button">
      <button (click)="assignDateService()" *ngIf="dataDate.valid">Asignar cita</button>
    </div>
  </form>


</div>

<router-outlet></router-outlet>