:host{
    width: 100%;
}
.title-input {
    width: 100%;
    position: relative;
    padding-left: 10px;
    text-align: left;
    font: 13px/20px;
    font-family: "Montserrat-Medium",  Arial, Helvetica, sans-serif;
    letter-spacing: -0.16px;
    color: #8c8c8c;
    padding-top: 20px;
    padding-bottom: 7px;
    line-height: 16px;
    float: left;
}
.title-input.invalid {
    color: #fb2e2e !important;
}
.triangle-error {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 4.5px 7px 4.5px;
    border-color: transparent transparent #fb2e2e transparent;
    position: absolute;
    z-index: 3;
    top: 84px;
    left: 7px;
}
.validation-error {
    background: #fb2e2e 0% 0% no-repeat padding-box;
    border-radius: 5px;
    text-align: left;
    font: 10px/12px;
    font-family: "OpenSans-Regular",  Arial, Helvetica, sans-serif;
    letter-spacing: 0px;
    color: #ffffff;
    line-height: 16px;
    position: absolute;
    z-index: 4;
    top: 90px;
    padding: 4px 8px 4px 8px;
    left: 0;
    max-width: 98%;
}

// Estilo bordes azules y fondo blanco
.blue-white {
    .box-input-style {
        box-sizing: border-box;
        background: #ffffff 0% 0% no-repeat padding-box;
        border: 1.6px solid #0f265c;
        border-radius: 10px;
        width: 99%;
        height: 50px;
        float: left;
    }
    .box-input-style.invalid {
        border: 1.6px solid #fb2e2e;
    }
    .box-input-style.disabled {
        background: #e0e0e0 0% 0% no-repeat padding-box;
    }
    .details-input-style {
        margin-top: -1px;
        box-sizing: border-box;
        background: #ffffff 0% 0% no-repeat padding-box;
        border: 1.6px solid transparent;
        border-right: 1.6px solid #0f265c;
        border-radius: 10px 0px 0px 10px;
        height: 49px;
        float: left;
        text-align: center;
        font: 18px/38px Montserrat-Medium;
        font-family: "Montserrat-Medium",  Arial, Helvetica, sans-serif;
        letter-spacing: 0px;
        color: #0f265c;
        width: 47.5px;
        padding-top: 5px;
        margin-left: 1px;
    }
    .details-input-style.invalid {
        border-right: 1.6px solid #fb2e2e;
        color: #fb2e2e;
    }
    .details-input-style.disabled {
        background: #e0e0e0 0% 0% no-repeat padding-box;
        color: #9d9d9d;
    }
    .text-input-style {
        text-align: left;
        font: 18px/20px;
        font-family: "OpenSans-Regular",  Arial, Helvetica, sans-serif;
        letter-spacing: -0.18px;
        color: #343434;
        border: 0;
        height: 32px;
        width: 86%;
        padding-left: 20px;
        margin-left: 2px;
        margin-top: 6px;
        line-height: normal;
    }
    .text-input-style::placeholder {
        color: #e0e0e0;
    }
    .text-input-style:-ms-input-placeholder {
        color: #e0e0e0 !important;
    }
    .text-input-style:-moz-placeholder {
        color: #e0e0e0 !important;
    }
    .text-input-style.input-details {
        width: 65%;
    }
    .text-input-style:disabled {
        background: #e0e0e0 0% 0% no-repeat padding-box;
        color: #9d9d9d;
    }
}

// Estilo gris
.grey {
    .box-input-style {
        box-sizing: border-box;
        background: #f8f8f8 0% 0% no-repeat padding-box;
        border: 1.6px solid #f8f8f8;
        border-radius: 10px;
        width: 99%;
        height: 50px;
        float: left;
    }
    .box-input-style.invalid {
        border: 1.6px solid #fb2e2e;
    }
    .box-input-style.disabled {
        background: #f8f8f8 0% 0% no-repeat padding-box;
    }
    .details-input-style {
        margin-top: -1px;
        box-sizing: border-box;
        background: #f8f8f8 0% 0% no-repeat padding-box;
        border: 1.6px solid transparent;
        border-right: 1.6px solid #f8f8f8;
        border-radius: 10px 0px 0px 10px;
        height: 49px;
        float: left;
        text-align: center;
        font: 18px/38px;
        letter-spacing: 0px;
        color: #0f265c;
        width: 47.5px;
        padding-top: 5px;
        margin-left: 1px;
    }
    .details-input-style.invalid {
        border-right: 1.6px solid #fb2e2e;
        color: #fb2e2e;
    }
    .details-input-style.disabled {
        text-align: left;
        font: 30px/43px;
        letter-spacing: 0px;
        color: #0f265c;
    }
    .text-input-style {
        background: #f8f8f8 0% 0% no-repeat padding-box;
        text-align: left;
        font: 18px/20px;
        font-family: "OpenSans-Regular",  Arial, Helvetica, sans-serif;

        letter-spacing: -0.18px;
        color: #343434;
        border: 0;
        height: 32px;
        width: 86%;
        padding-left: 20px;
        margin-left: 2px;
        margin-top: 6px;
        line-height: normal;
    }
    .text-input-style::placeholder {
        color: #e0e0e0;
    }
    .text-input-style:-ms-input-placeholder {
        color: #e0e0e0 !important;
    }
    .text-input-style:-moz-placeholder {
        color: #e0e0e0 !important;
    }
    .text-input-style.input-details {
        width: 65%;
    }
    .text-input-style:disabled {
        text-align: left;
        font: 30px/43px;
        letter-spacing: 0px;
        color: #0f265c;
    }
}

//Se definen tamaños de diseño responsive hasta 750px
/* @media only screen and (max-width: 750px) {
    .title-input{ padding-top: 15px; }
} */